.footer {
    background-color: $darkBlue;
    color: $white;

    a {
        color: $white;
    }

    &__logo {
        
    }

    &__social {

    }

    &__links {

        &.col1 {
            
        }

        &.col2 {

        }

    }

    &__cta {

    }

    &__copyright {

    }
}